
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;600;700&display=swap');

*{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, ul {
    margin: 0;
    padding: 0;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    font-style: 1.5rem;
  }

  .nav-link{
    list-style: none;
    display: flex;
    color: white !important;
  }

  .nav-link:hover{
    color: #31b9b3 !important;
    background-color: #eef3dd;
    padding: 10px 20px;
  }

  .navbar-brand{
    color: #939af3 !important;
    padding-left: 2rem;
  }


  #home{
    width: auto;
    display: flex;
  }

  .bg-img{
    background-image: url(images/home1.png);
    background-size: cover;
    height: 100vh;
    position: relative;
    opacity: 0.9;
  }
  
  .home-title {
    font-size: 4.5rem;
}

.home-desc {
    font-size: 2rem;
    color: #ffffff;
}

.home-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.about{
  display: flex;
  margin-top: 6rem;
}

.about h1{
  color: #2732cc;
}

.about p{
  font-size: 1.2rem;
}

.blog{
  background-color: #faeedd;
}

.blog h1{
  color: #2732cc;
}

.carousel-indicators {
  bottom: -60px;
}

.contact{
  font-size: 1rem;
}

